In [55]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
import numpy as np
import math
import geopy

In [56]:
# define column names for text file mapping
colNames = ['geonameid','name','asciiname','alternatenames',
           'latitude','longitude','feature class', 'feature code',
           'country code', 'cc2', 'admin1 code', 'admin2 code',
           'admin3 code', 'admin4 code', 'population', 'elevation',
           'dem', 'timezone', 'modification_date']

In [57]:
# load supplemental data into pandas
pop_df = pd.read_table('./Resources/population_data/TZ.txt', header=None)
pop_df.columns = colNames
pop_df.sort_values(by='population', ascending=False).head()

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification_date
930,149590,United Republic of Tanzania,United Republic of Tanzania,"An Tansain,An Tansáin,Orileede Tansania,Orílẹ́...",-6.00000,35.00000,A,PCLI,TZ,NaN,0.0,NaN,NaN,NaN,56318348,NaN,829,Africa/Dar_es_Salaam,2020-03-29
11530,160260,Dar es Salaam Region,Dar es Salaam Region,"Dar es Salaam,Dar es Salaam Region,Dar-es-Salaam",-6.83523,39.19597,A,ADM1,TZ,NaN,23.0,NaN,NaN,NaN,2791063,NaN,62,Africa/Dar_es_Salaam,2011-03-17
3545,152219,Mwanza Region,Mwanza Region,"Mkoa wa Mwanza,Mwanza,Mwanza Region",-2.75000,33.08333,A,ADM1,TZ,NaN,12.0,NaN,NaN,NaN,2772509,NaN,1206,Africa/Dar_es_Salaam,2015-05-04
5683,154375,Mbeya Region,Mbeya Region,"Mbeya,Mbeya Region,Mkoa wa Mbeya",-8.20000,33.33333,A,ADM1,TZ,NaN,9.0,NaN,NaN,NaN,2707410,NaN,1315,Africa/Dar_es_Salaam,2015-05-04
11533,160263,Dar es Salaam,Dar es Salaam,"DAR,Dar Es Salaam,Dar Es Salam,Dar es Salaam,D...",-6.82349,39.26951,P,PPLA,TZ,NaN,23.0,702.0,702132.0,NaN,2698652,NaN,24,Africa/Dar_es_Salaam,2019-09-05

In [58]:
# subset data to include just city level data (admin3 code) and greater than 0 population for ranking
city_pop_df = pop_df[pop_df['admin3 code'].notnull()]
city_pop_df = city_pop_df[city_pop_df['population']>0]
city_pop_df.sort_values(by='population', ascending=False)

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification_date
11533,160263,Dar es Salaam,Dar es Salaam,"DAR,Dar Es Salaam,Dar Es Salam,Dar es Salaam,D...",-6.82349,39.26951,P,PPLA,TZ,NaN,23.0,702.0,702132.0,NaN,2698652,NaN,24,Africa/Dar_es_Salaam,2019-09-05
536,149193,Unguja Ukuu Kaebona,Unguja Ukuu Kaebona,"Unguja Ukuu,Unguja Ukuu Kaebona",-6.27452,39.37486,A,ADM3,TZ,NaN,21.0,5201.0,5201381.0,NaN,1060416,NaN,32,Africa/Dar_es_Salaam,2016-07-25
73,148726,Zanzibar Island,Zanzibar Island,"Ile de Zanzibar,Menuthias,Unguja,Unguja Island...",-6.15557,39.34170,T,ISL,TZ,NaN,21.0,5201.0,5201181.0,NaN,896721,NaN,39,Africa/Dar_es_Salaam,2019-04-13
3549,152224,Mwanza,Mwanza,"MWZ,Muansa,Muanza,Muvanzo,Mvanza,Mwamza,Mwansa...",-2.51667,32.90000,P,PPLA,TZ,NaN,12.0,1903.0,1903042.0,NaN,436801,NaN,1144,Africa/Dar_es_Salaam,2019-09-05
77,148730,Zanzibar,Zanzibar,"Ilu Zanzibar,Poli tis Zanzivaris,Sansibar,Sans...",-6.16394,39.19793,P,PPLA,TZ,NaN,25.0,5302.0,5302272.0,NaN,403658,NaN,14,Africa/Dar_es_Salaam,2019-09-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7880,156588,Koani Ndogo,Koani Ndogo,Koani Ndogo,-6.13333,39.28333,P,PPL,TZ,NaN,21.0,5201.0,5201093.0,NaN,2311,NaN,44,Africa/Dar_es_Salaam,2018-12-04
7881,156589,Koani,Koani,Koani,-6.13333,39.28333,P,PPLA,TZ,NaN,21.0,5201.0,5201093.0,NaN,2211,NaN,44,Africa/Dar_es_Salaam,2016-07-26
3050,151720,Nganane,Nganane,NaN,-6.40000,39.55000,P,PPL,TZ,NaN,21.0,5202.0,5202041.0,NaN,1929,NaN,31,Africa/Dar_es_Salaam,2016-07-26
14350,6615413,Hadzabe encampment,Hadzabe encampment,NaN,-3.52810,35.43537,S,HUTS,TZ,NaN,26.0,204.0,204061.0,NaN,20,NaN,1135,Africa/Dar_es_Salaam,2016-07-26
19346,11822796,W. K. Kikwasi,W. K. Kikwasi,NaN,-6.90729,39.16798,S,BLDG,TZ,NaN,23.0,702.0,702232.0,NaN,8,NaN,64,Africa/Dar_es_Salaam,2018-03-10

In [60]:
# Test the creation of the geocode object
from geopy.geocoders import get_geocoder_for_service
get_geocoder_for_service("nominatim")

geopy.geocoders.osm.Nominatim

In [84]:
# Display lat/long of the City dataset
city_pop_df[['latitude','longitude']]

       latitude  longitude
73     -6.15557   39.34170
77     -6.16394   39.19793
187    -5.05589   39.72938
286    -9.10806   32.93472
330    -7.00667   39.29849
...         ...        ...
14350  -3.52810   35.43537
14362  -5.72651   39.29870
15048  -3.37146   36.79356
15051  -6.17526   35.79266
19346  -6.90729   39.16798

[280 rows x 2 columns]

In [93]:
float(city_pop_df.latitude.iloc[[0]])

-6.15557

In [94]:
print(f"{float(city_pop_df.latitude.iloc[[0]])} , {float(city_pop_df.longitude.iloc[[0]])}")

-6.15557 , 39.3417

In [121]:
# Define function to calculate distance between two GPS points - return distance in km

import math

def haversine(coord1, coord2):
    R = 6372800  # Earth radius in meters
    lat1, lon1 = coord1
    lat2, lon2 = coord2
    
    phi1, phi2 = math.radians(lat1), math.radians(lat2) 
    dphi       = math.radians(lat2 - lat1)
    dlambda    = math.radians(lon2 - lon1)
    
    a = math.sin(dphi/2)**2 + \
        math.cos(phi1)*math.cos(phi2)*math.sin(dlambda/2)**2
    
    return 2*R*math.atan2(math.sqrt(a), math.sqrt(1 - a))/1000

In [120]:
haversine([51.5073219,-0.1276474],[52.5170365,13.3888599])

930.7232019867425

In [123]:
# create a combined pandas dataframe with lat/lon

ref_coord = [51.5073219,-0.1276474]

# city_pop_df['geo_loc'] = city_pop_df['latitude'].astype(str) + "," + city_pop_df['longitude'].astype(str)
city_pop_df['geo_loc'] = city_pop_df[['latitude','longitude']].values.tolist()
city_pop_df['distance'] = city_pop_df['geo_loc'].apply(haversine,args=(ref_coord,))

city_pop_df['distance']

73       7431.003832
77       7425.010265
187      7339.388491
286      7449.213099
330      7514.464783
            ...
14350    6984.319635
14362    7385.888755
15048    7030.724781
15051    7269.624895
19346    7498.313976
Name: distance, Length: 280, dtype: float64

In [216]:
import sqlite3

# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("Tanzania_Water_Pump.db")
water_df = pd.read_sql_query("SELECT * from pump_it_up_training_set", con)

con.close()

# Create a combined column with lat/lon and drop long where 0
water_df['longitude'] = water_df['longitude'].astype(float)
water_df['geo_loc'] = water_df[['latitude','longitude']].values.tolist()

water_test = water_df.head(10)

# Verify that result of SQL query is stored in the dataframe
water_df

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group,geo_loc
0,0,0.0,2012-11-13,Tasaf,0,TASAF,33.125828,-5.118154,Mratibu,0,...,milky,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,non functional,"[-5.11815407, 33.1258283]"
1,1,0.0,2011-03-05,Shipo,1978,SHIPO,34.770717,-9.395642,none,0,...,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional,"[-9.39564152, 34.77071669]"
2,2,0.0,2011-03-27,Lvia,0,LVIA,36.115056,-6.279268,Bombani,0,...,good,insufficient,insufficient,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,functional,"[-6.27926803, 36.11505595]"
3,3,10.0,2013-06-03,Germany Republi,1639,CES,37.147432,-3.187555,Area 7 Namba 5,0,...,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional,"[-3.18755455, 37.14743219]"
4,4,0.0,2011-03-22,Cmsr,0,CMSR,36.164893,-6.099289,Ezeleda,0,...,good,dry,dry,shallow well,shallow well,groundwater,hand pump,hand pump,non functional,"[-6.09928949, 36.16489341]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,74240,0.0,2013-03-22,World Vision,1183,World vision,37.007726,-3.280868,Upendo Primary School,0,...,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional,"[-3.28086824, 37.00772596]"
59396,74242,0.0,2011-04-12,Danida,0,DANIDA,33.724987,-8.940758,Kwa Mvulula,0,...,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe,functional,"[-8.94075788, 33.72498733]"
59397,74243,0.0,2012-11-13,Ministry Of Water,1188,Hesawa,33.963539,-1.429477,Kwa Wambura Msege,0,...,good,enough,enough,lake,river/lake,surface,communal standpipe multiple,communal standpipe,non functional,"[-1.42947691, 33.96353891]"
59398,74246,50.0,2011-03-07,Ruthe,1428,Ruthe,35.630481,-7.710549,none,0,...,good,dry,dry,spring,spring,groundwater,communal standpipe,communal standpipe,non functional,"[-7.71054858, 35.63048144]"
59399,74247,50.0,2013-02-16,Mission,965,DWE,35.432998,-10.639270,Kwa Mapunda,0,...,good,dry,dry,river,river/lake,surface,communal standpipe,communal standpipe,non functional,"[-10.63927029, 35.43299843]"

In [214]:
def compare_distance(ref, df, pos):
    city_distance_list = []
#     for index, row in df.iterrows():
#         city_distance_list.append([haversine(ref,row['geo_loc']),row['population']])
        
#     sort_list = sorted(city_distance_list)
    df['distance'] = df['geo_loc'].apply(haversine,args=(ref,))
    closest_cities = df[['distance','population']].sort_values(by=['distance'])
    
#     print(closest_cities.iloc[pos])
    return closest_cities.iloc[pos]

In [217]:
water_test['geo_loc'].apply(compare_distance, args=(city_pop_df[['geo_loc','population']],0,))

C:\Users\mattg\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

    distance  population
0  35.033967    145292.0
1   5.169916     46724.0
2  27.054749      5527.0
3  21.108603     22839.0
4  15.549644      5527.0
5   4.048531     23307.0
6   4.731621     22082.0
7   5.867228     19526.0
8  11.115637      5527.0
9  14.445214     27776.0

In [ ]:
water_df['closest_city1']